/*# Front-end Style Guide
## Layout
The designs were created to the following widths:
- Mobile: 375px
- Desktop: 1440px
### Primary
- Light Cyan: hsl(193, 38%, 86%)
### Neutral
- Grayish Blue: hsl(217, 19%, 38%)
- Dark Grayish Blue: hsl(217, 19%, 24%)
- Dark Blue: hsl(218, 23%, 16%)
- Font size (quote): 28px
- Family: [Manrope](https://fonts.google.com/specimen/Manrope)
- Weights: 800*/
:root {
    --bg-color: hsl(218, 23%, 16%);
    --cnt-color: hsl(217, 19%, 24%);
    --neon-green: hsl(150, 100%, 66%);
    --size-quote: 28px;
    --font-color: #ffffff;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

body {
    color: var(--font-color);
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    background-color: var(--bg-color);
}
.container {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__gen {
    padding: 12px;
    height: auto;
    width: 510px;
    background-color: var(--cnt-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 15px;
}

@media (min-width: 5px) and (max-width: 375px) {
    .container__gen {
        padding: 10px;
        width: 300px;
    }
    .adv-quote {
        font-size: 0.5em;
        width: auto;
        padding: 10px;
    }
    .divider-mobile {
        padding: 10px;
        width: auto;
        display: block;
        margin-top: -25px;
        padding-bottom: 50px;
    }
    .divider-desktop {
        display: none;
    }
}

@media (min-width: 375px) and (max-width: 1440px) {
    .container__gen {
        padding: 10px;
        width: 342px;
    }
    .adv-quote {
        font-size: 1em;
        padding: 10px;
    }
    .divider-mobile {
        padding: 10px;
        width: auto;
        display: block;
        margin-top: -25px;
        padding-bottom: 50px;
    }
    .divider-desktop {
        display: none;
    }
}
@media (min-width: 1440px) {
    .divider-desktop {
        padding: 15px;
        display: block;
        margin-top: -25px;
        padding-bottom: 50px;
    }
    .divider-mobile {
        display: none;
    }
}

h2 {
    padding-top: 24px;
    color: var(--neon-green);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 12px;
}

.btn-dice {
    cursor: pointer;
    display: block;
    border: none;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--neon-green);
    padding: 12px;
    border-radius: 100%;
    transform: translateY(-30px);
}

.btn-dice:hover {
    -webkit-box-shadow: 1px 1px 60px 0px rgba(66, 68, 90, 1);
-moz-box-shadow: 1px 1px 20px 0px rgba(66, 68, 90, 1);
box-shadow: 1px 1px 20px 0px var(--neon-green);
}

.adv-quote {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 28px;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    height: auto;
    width: 100%;
}

.attribution {font-size: 11px; text-align: center;}
.attribution a {color: var(--neon-green);}